/* @font-face {
    font-family: "Patrick Hand";
    src: url('/css/PatrickHand-Regular.ttf');
} */

main {
    font-family: 'Patrick Hand', cursive;
}

.parallax-container {
    width: 100%;
}